body { padding-top:30px;
background-image: url('Desktop/codifyacademy/destify/dating.jpeg');
 }
.form-control { margin-bottom: 10px; }
.container {
    position:absolute;
     width:500px;
     height:600px;
     top:50%;
     left:50%;
     margin: 0;
     padding: 0;  
}
form {
    text-align: center;
}
.dating {
    width: 600px;
}